
<div class="row" style="padding-left: 100px;padding-top: 50px">
  <div class="col-md-8">
    <div *ngIf="dataCame">
    <div style="display: block;">
     
       
    <canvas baseChart width="90%" height="50%" 
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                
                
                ></canvas>
              </div>
  </div>
  </div>

